body {
    font-family: sans-serif;
    background-color:#9CA7CC;
}

a {
    text-decoration: none;
    color: #870047;
    border: 3px solid #870047;
    border-radius: 5px;
    padding: 4px;
    margin: 40px 25px 10px 25px;
    font-size: 20px;
    text-align:center;
}

header p {
    font-size: 36px;
    text-align: center;
}

main p {
    font-size: 18px;
    color:#000000;
    height: 80px;
    width: 525px;
    margin: 90px 65px 0px 10px;
    float: left;
}

main img {
    width: 154px;
    height: 115px;
    margin: 54px 18px 0px 53px;
    text-align: left;
}

footer img {
    width: 542px;
    height: 242px;
    text-align:center;
    margin-top:10px;
    margin-left:60px
}
