body {
    font-family: sans-serif;
    background-color:#9CA7CC;
}

a {
    text-decoration: none;
    color: #870047;
    border: 3px solid #870047;
    border-radius: 5px;
    padding: 4px;
    margin: 40px 70px 10px 230px;
    font-size: 20px;
}

header p {
    font-size: 36px;
    text-align: center;
}

main p {
    font-size: 18px;
    color: #ffffff;
}

main img {
    width: 154px;
    height: 115px;
}

footer img {
    width: 542px;
    height: 242px;
    margin-top: 80px;
    margin-left: 280px;
}

.E {
    width:200px;
    margin:40px 0px 40px 120px;
    text-align: center;
    border: 3px dashed #1CA7CC;
    float: left;
}

.a {
    width: 1050px;
    height: 300px;
}
